@charset "UTF-8";

@import 'vendor/normalize';

form{
    border: 2px solid orange;
    background-color:  lightblue ;
    border-radius: 25px;
}
body{
    background-color:   #d4e6f1;
    position: left;
      clear: both;
      text-align:center;
      padding: 18px 0;
}

header{
    color: darkblue;

}

footer {
  position: left;
    clear: both;
    text-align:center;
/* 	height: 50px;	 */
    padding: 18px 0;
}


nav {

}
