@charset "UTF-8";
@import "~react-datepicker/dist/react-datepicker.css";
@import 'vendor/normalize';

form{
    border: 2px solid orange;
    background-color:  lightblue ;
    border-radius: 25px;
    width: 60%;
    margin:0 auto;
    padding:3%;
}
body{
    background-color:   #d4e6f1;
    position: left;
      clear: both;
      text-align:center;
      padding: 18px 0;
}
nav {
    text-align:left;
}
header{
    background-color: darkblue;
   
}
.form-header{
    font-size: 32px;
    color: darkblue;
}
header  > nav > a{
    color: white;

}
footer {
  position: left;
    clear: both;
    text-align:center;
/* 	height: 50px;	 */
    padding: 18px 0;
}


nav {

}
